<!doctype html>

<html>
<head>
	<title>Friend Added</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.css" rel="stylesheet"></script>
	<link href="/css/bootstrap-theme.css" rel="stylesheet"></script>
	<link href="/css/hci-friends.css" rel="stylesheet"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<h1>Friend Has Been Added</h1>
		<div class="friend" id="friend1">
			<img src="{{imageURL}}" alt="Lorem Pixel image" class="img-responsive img-rounded"></img>
			<h3><a class="nameLink" href="#">{{name}}</a></h3>
			<p>{{description}}</p>
		</div>
		<hr></hr>
		<h4><a href="/">Return To Home</a><h4>
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
	